.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.numbers .active {
  background-color: #ff7d00;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 200px;
  margin-top: 50%;
  border-radius: 15px;
  padding: 20px;
  background-color: #15616d;
}

.numbers {
  display: flex;
  gap: 40px;
}

.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #ffecd1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.message {
  color: #dfdfdf;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  background-color: #78290f;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons button:hover{
  background-color: #ffecd1;
  color: black;
}